# Copy this file to .env
PORT=3000

# Airtable CMS conf
AIRTABLE_BASE_ID=<base_id>
AIRTABLE_TOKEN=<token>

AIRTABLE_PRODUCTS_TABLE=
AIRTABLE_CUSTOM_TABLE=
AIRTABLE_ORDERS_TABLE=

# Payment & Delivery conf
BANK_IBAN=
BANK_HOLDER=
GMAIL_USER=
GMAIL_APP_PASSWORD=